.background {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    background: radial-gradient(circle, #1d1d1d, #141414);
}

.container-gen{
    display: flex;
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.special-icon img{
    height: 20vh;
}

.event {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.event section {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 40%;
    
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

.event section img:first-child {
    height: 100px;
    width: 100px;
}

.event img {
    aspect-ratio: 1/1;
    width: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.cont {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}


.event-row {
    display: flex;
    flex-direction: row;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.event-row-player {
    display: flex;
    flex-direction: column;
    margin: 0 2%;
    max-height: 60%;
    align-items: center;
    justify-content: center;
}

/* Icono del jugador */
.event-row-player img {
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 20px;
}

.event-row-player h3 {
    font-weight: 300;
    margin-bottom: 10px;
}

.line-event {
    background-color: white;
    width: 100%;
    height: 1px;
    border-radius: 16px;
}

/* Medio */
.flex-colum {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 40%;
}

.flex-colum.center {
    align-items: center;
}

.flex-colum p {
    margin: auto;
}

.icon {
    width: 50px;

    aspect-ratio: 1/1;
    object-fit: cover;
}

/* ------------ GENERALES ------------ */
.flex-colum {
    display: flex;
    flex-direction: column;
}

.flex-colum.center {
    justify-content: center;
    align-items: center;
}

.flex-colum.full-screen {
    width: 100vw;
    height: 100vh;
}

.flex-colum.screen-scroll{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
}

.winner-crown {
    height: 10vh;
}

.winner-image {
    height: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 5vh;
}

.line-event.winner {
    width: 30vw;
}

.flex-colum h1 {
    margin: 0;
    font-weight: 400;
}

.flex-colum p {
    margin: 0;
}

.bottom-button {
    position: absolute;
    bottom: 0;
}

.button-style {
    background: none;
    border: none;

    color: white;
    font-size: 1rem;
    margin-bottom: 5vh;
}

.button-style:hover {
    text-decoration: underline;
}

.deaths-father{
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    min-height: 100vh;
    height: auto;
    
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

.deaths-title{
    max-width: 30%;
    text-align: center;
}

.deaths-title h1{
    font-weight: 300;
    font-size: 2rem;
}

.deaths-title img{
    height: 100px;
    margin-bottom: 50px;
}

.deaths-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(200px, auto);
    
    width: 60%;
    height: auto;

    row-gap: 20px;
}

.deaths-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deaths-list img{
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
}


.deaths-list div{
    width: 80%;
}


.background p {
    font-weight: 300;
}