.background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: radial-gradient(circle, #1d1d1d, #141414);
}

.events {
    z-index: 2;
    display: flex;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;
    height: auto;

    overflow-y: auto;
}

.player-icon {
    box-sizing: border-box;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 200px;
    margin-bottom: 50px;
    background-color: #2D2D2D;
    padding: 5px;
    border-radius: 12px;

}

.background button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    margin-bottom: 10vh;
}

.background button:hover {
    text-decoration: underline;
}

.c-one-event {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;

    margin: 5vh 0 10vh 0;
    
}

.events div:first-child {
    margin: 25vh 0 10vh 0;
}


.s-event-global{
    display: flex;
    flex-direction: column;
    object-fit: cover;
    
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    align-items: center;

    animation: show-up ease-in-out both 1s;
}

.s-event-global button{
    position: absolute;
    bottom: 5vh;
}


@keyframes show-up{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}