/* -------- CONFIGURAR JUGADORES ------ */

.p-config{
    display: flex;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;

    background: radial-gradient(circle, #1d1d1d, #141414);
    
    align-items: center;
    justify-content: center;
    overflow: show;
}

.p-config-players{
    display: grid;
    grid-template-columns: repeat(2,50%);
    
    width: 80%;
    height: auto;
}

.player{
    display: flex;
    align-items: center;
    justify-self: center;
}

.player div{
    display: flex;
    flex-direction: column;
}

.player img{
    background-color: #1d1d1d;
    margin-right: 10px;
    
    height: 100px;
    width: 100px;
    
    aspect-ratio: 1/1;
    object-fit: cover;
}
/* -------- MOSTRAR JUGADORES ------ */
.view-players{
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
    
    background: radial-gradient(circle, #1d1d1d, #141414);
    overflow-y: auto;
}

.v-list{
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 10px;
}

.v-list div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-list img{
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}